.nav{
    display:flex;
    grid-template-columns: 1fr 1fr 4fr 1fr;
    grid-column-gap: 1 em ;
    background-color: black;
    color: white;
    font-family: CircularSp,CircularSp-Arab,CircularSp-Hebr,CircularSp-Cyrl,CircularSp-Grek,CircularSp-Deva,var(--fallback-fonts,sans-serif),sans-serif;
    align-items: center;
    margin-left: 139px;
    /* width: 100%;
    height: 50px; */
}   
.button1{
    border-radius: 15px;
    width: 60px;
    scale: 1.2;
    /* border-left: 50rem; */
    /* text-align: center; */
    /* height: 75%; */
    /* align-items: flex-end; */
}
.button1:hover{
    transform: scale(1.1);
}
.p1{
    margin-left: 20%;
    text-align: left;
    border-radius:0%;
    width: 25px;
    height: 50%;
    background-color: #000000B3;
    text-align: right;
    color: grey;
    align-items: flex-start; 
    border:none;
}
.p1:hover{
    color: white;
}
.p2:hover{
    color:white;
}
.p2{
    margin-right: 20em;
    color: grey;
    align-items: flex-start;
    border-radius:0%;
    width: 25px;
    height: 50%;
    background-color: black;
    text-align: left;
    grid-column-gap: 1em;
    border:none;
}
.signup{
    align-items: flex-end;
    text-align: right;
    color: grey;
    margin-right: 20px;;
} 
.signup:hover{
    color: white;
    transform: scale(1.1);
}
.side{
    display: flex;
    flex-direction: column;
    background-color: black;
    color:grey;
    width: 20%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}
.div1{
    background-color: rgb(24, 23, 23);
    border-radius: 10px;
    margin-bottom: 5px;
    height: 100px;
}
.div2{
    background-color: rgb(24, 23, 23);
    height: 200px;
    overflow:scroll;
}
.div3{
    background-color: rgb(24, 23, 23);
    display:inline;
    color: gray;
    border: none;
    font-size: 11px;
}
.button4{
    border-radius: 40px;
    font-size: 13px;
    background-color: black;
    color: white;
    border: 1px solid grey;
}
.button4:hover{
    border:1px solid white;
    transform: scale(1.2);
    /* transform: translateZ(50px); */
}
.button2:hover{
    transform: scale(1.2);
}
.button3:hover{
    transform: scale(1.2);
}
.child1{
    border-radius: 2px;
    color: white;
    background-color:rgb(49, 47, 47);
}
.child2{
    border-radius: 2px;
    color: white;
    background-color:rgb(49, 47, 47);
    margin-bottom: 5px;
}
.button2{
    border-radius: 40px;
    margin-left: 1 rem;
}
.button3{
    border-radius: 40px;
} 
.search:hover{
    color: white;
    text-decoration: underline;
}
.spotify{
    color: white;
}
.home{
    color: white;
}
.home:hover{
    text-decoration: underline;
}

.library{
    display: flex;
    display: inline;
    /* flex-direction: row; */
    /* justify-content: space around; */
}
.library:hover{
    color: white;
}
.plus{
    display: flex;
    display: inline;
    margin-left: 12px;
    margin-top: 50px;
    text-align: center;  
    /* justify-content: space around; */
}
.cookies:hover{
    text-decoration: underline;
}
.grid1{
    margin: 0px;
    padding: 0px;
}